@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.box{
  box-sizing: border-box;
  border-radius: 15px;
  width: 500px;
    padding: 40px;
   text-align: left;
    position: absolute;
    transition: 0.25s;
    margin-top: 100px;
    margin-left: 600px;
    background-color: rgb(255, 253, 250);

}
body {
  background:url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.jpg') !important;
  min-height: 100vh;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
h2{
  padding: 20px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}
.box [type="submit"]{
  justify-content: center;
background-color: rgb(85, 93, 212);
border-color:rgb(85, 93, 212);
color: white;
margin-left:165px;

}
